@model AuthorBookWebApp.Models.ViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Book.Title" class="control-label"></label>
                <input asp-for="@Model.Book.Title" class="form-control" />
                <span asp-validation-for="@Model.Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.NumberOfPages" class="control-label"></label>
                <input asp-for="@Model.Book.NumberOfPages" class="form-control" />
                <span asp-validation-for="@Model.Book.NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.Genre" class="control-label"></label>
                <select asp-for="@Model.Book.Genre" class="form-control">
                    <option>Фентезі</option>
                    <option>Новела</option>
                    <option>Роман</option>
                    <option>Фантастика</option>
                    <option>Детектив</option>
                </select>
                <span asp-validation-for="@Model.Book.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Book.authorViewModel" class="control-label">Author: </label>
                <select asp-for="@Model.Book.authorViewModel" class="form-control">
                    @foreach (var item in Model.Authors)
                    {
                        <option label="@item.Name @item.Surname">@item.Id </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
